<h2>FORM WORKED</h2>

<%= form_with(model: customer, local: true) do |form| %>
  <% if customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
        <% customer.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :name %>: <%= form.text_field :name %>
  </p>
 
  <p>
    <%= form.label :phone %>: <%= form.text_field :phone %>
  </p>
 
  <p>
    <%= form.label :email %>: <%= form.text_field :email %>
  </p>
 
  <p>
    <%= form.label :image %>: <%= form.text_field :image %>
  </p>
 
  <p>
    <%= form.label :notes %>:<br>
    <%= form.text_area :notes %>
  </p>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
