<!DOCTYPE html>
<html>
  <head>
    <title>Challenge6</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
    <header class="mt-3">
    <%= link_to "Home", root_path %> | 
    <%= link_to "Sorted", customers_sorted_path %> | 
    <%= link_to "No Email", customers_missing_email_path %> | 
    <%= link_to "Admin", admin_root_path %>
    </header>
      <%= yield %>
    </div>
  </body>
</html>
